{% extends 'blog/base.html' %}

{% block title %}{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %} - Django Blog{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>{% if form.instance.pk %}Edit Post{% else %}New Post{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %} Post</button>
        </form>
    </div>
{% endblock %}